@mixin button($color: #16425B, $bgcolor: #81C3D7){
    padding: 0.85rem;
    border: 0.15rem solid $color;                        
    background-color: $color;
    color: $bgcolor;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:hover{
        background-color: $bgcolor;
        color: $color;
        border: 0.15rem solid $color;    
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    }
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.main-hdr{
    width: 100%;
    height: 6rem;
    background-color: #81C3D7;
    .nav{
        margin: 0 auto auto;
        max-width: 1480px;
        height: 6rem;
        display: flex;
        justify-content: center;
        .nav-logo{
            padding: 1rem;
            a{
                text-decoration: none;
                font-size: 3rem;
                color: #16425B;
                font-family: 'Lora', serif;

            }
        }
        .nav-srch{
            padding: 1rem;
            display: flex;
            margin: auto 0;

            form{
                display: flex;
                gap: 1rem;

                input{
                    padding: 0.5rem 0.5rem 0.4rem;
                    border-radius: .5rem;
                    font-weight: 600;
                    font-size: 1rem;
                    border-width: 0.15rem;
                    border-color: #16425B;
                    background-color: #81C3D7;
                    &::placeholder{
                        color: #16425B;
                    }
                }
                button{
                    @include button;

                }
            }
            
        }
    }
}

.bgcolor{
    background-color: #81C3D7;
    min-height: 100vh;
}

.main-page{
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    padding: 1rem;
    -webkit-box-shadow: 0px 9px 36px -1px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 9px 36px -1px rgba(0,0,0,0.27);
    box-shadow: 0px 9px 36px -1px rgba(0,0,0,0.27);
    background-color: #D9DCD6;
    padding-bottom: 3rem;
    .span-3{
        flex: 3;
        .container{
            padding: 0.5rem;
            margin-right: 0.5rem;
            .items{
                border: 0.1rem solid #16425B !important;
                border-radius: 0.35rem;
                .item{
                    a{
                        color: #16425B;
                        text-decoration: none;
                    }
                    padding: 0.5rem;
                    cursor: pointer;
                    .subitem {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.5s ease-out;
                        padding-left: 1rem;
                        li{
                            padding: 0.25rem;
                            a{
                                color: #16425B;
                            }
                        }
                    }
                
                    .subitem-open {
                        max-height: 200px; /* Set a reasonable default value */
                    }
                }
            }
        }
    }
    .span-9{
        flex: 9;
        padding: 0.5rem;
        margin-left: 0.5rem;
        .pagi{
            display: flex;
            justify-content: center;
            margin: 1rem auto;
            gap: 1rem;
            .pagiBtn{
                border: 0.1rem solid #16425B;
                border-radius: 0.5rem;
                padding: 0.5rem;
                cursor: pointer;
                transition: all 0.250s ease-in-out;
                color: #16425B;
                text-decoration: none;
                &:hover{
                    -webkit-box-shadow: 0px 9px 16px -1px rgba(0,0,0,0.27);
                    -moz-box-shadow: 0px 9px 16px -1px rgba(0,0,0,0.27);
                    box-shadow: 0px 9px 16px -1px rgba(0,0,0,0.27);
                    transform: scale(1.01);
                }
            }
        }

        h1{
            margin-bottom: 0.7rem;
            color: #16425B;
            font-family: 'Lora', serif;
        }
        h3, p
        {
            margin-top: 0.5;
            margin-bottom: 1rem;
            color: #16425B;
            font-family: 'Lora', serif;
        }
        .container-categories {
            border: 0.1rem solid rgb(221, 221, 221);
            border-radius: 0.5rem;
            margin: 2rem 0;
        
            .items {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.75rem;
                width: 100%;
                height: auto;
        
                .item {
                    flex: 1 0 auto; 
                    width: calc(25% - 1rem); 
                    margin: 0.5rem;
                    border: 0.1rem solid #16425B;
                    padding: 0.5rem;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    color: #16425B;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
        
        .container{
            .items{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.75rem ;
                .item{
                    flex: 3;
                    max-width: 33%;
                    .card{
                        border: 0.1rem solid rgb(221, 221, 221);
                        padding: 0.5rem;
                        height: 22rem;
                        border-radius: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem ;
                        background-color: white;
                        transition: all 0.250s ease-in-out;
                        &:hover{
                            -webkit-box-shadow: 0px 9px 36px -1px rgba(0,0,0,0.27);
                            -moz-box-shadow: 0px 9px 36px -1px rgba(0,0,0,0.27);
                            box-shadow: 0px 9px 36px -1px rgba(0,0,0,0.27);
                            transform: scale(1.02);
                        }
                        .card-img{
                            display: flex;
                            margin: auto;
                            justify-content: center;
                            align-content: center;
                            img{
                                width: 15rem;
                                height: 15rem;
                                object-fit: contain;
                            }
                        }
                        .card-inf{
                            display: flex;
                            flex-direction: column;
                            
                            .card-name{
                                height: 3rem;
                                text-align: center;
                                margin: 0.5rem auto;
                                width: 15rem;
                                color: #16425B;
                            }
                            .card-buy{
                                margin-top: auto;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                padding: 0 1.25rem;
                                a{
                                    font-weight: 700;
                                }
                                .blue{
                                    color: #3A7CA5;
                                }
                                .red{
                                    color:#81C3D7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .product{
        margin: 1rem;
        .product-path{
            ul{
                p{
                    color: gray;
                    cursor: pointer;
                    transition:  color 0.3s;
                    &:hover{
                        color: #16425B;
                    }
                }
                a{
                    color: gray;
                    transition:  color 0.3s;

                    &:hover{
                        color: #16425B;
                    }
                }
                display: flex;
                gap:0.5rem;
            }

            margin-bottom: 5rem;
        }
        .product-details{
            display: flex;
            gap: 2rem;
            .span-3{
                flex: 3;
            }
                img{
                    max-height: 40rem;
                    object-fit: contain;
                }
            .span-6{
                flex: 6;
                div{
                    display:flex;
                    flex-direction:row;
                    margin:1rem auto;
                    justify-content:space-between;
                    gap: 1rem  ;
                    align-content: center;
                    .price{
                        display: flex;
                        text-align:center;
                        justify-content: center;
                        font-weight:bold;
                        color: #2F6690;
                        margin: 0;
                        font-size: 1.5rem;
                        padding: .5rem 0;
                        cursor: pointer;

                    }
                    button{
                        @include button;

    
                    }
                }
                p{
                    text-align: justify;
                    margin: 2rem auto;
                }
            }
        }
    }
}

.block{
    pointer-events: none;
    visibility: hidden;
}